/* Isidora Soft - Regular */
@font-face {
    font-family: 'Isidora Soft';
    src: url('../assets/fonts/isidorasoft-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/isidorasoft-bold-webfont.woff') format('woff'),
         url('../assets/fonts/isidorasoft-bold.otf') format('opentype');
}

/* Rockford Sans - Regular */
@font-face {
    font-family: 'Rockford Sans';
    src: url('../assets/fonts/rockfordsans-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/rockfordsans-regular-webfont.woff') format('woff'),
         url('../assets/fonts/rockfordsans-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Rockford Sans - Bold */
@font-face {
    font-family: 'Rockford Sans';
    src: url('../assets/fonts/rockfordsans-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/rockfordsans-bold-webfont.woff') format('woff'),
         url('../assets/fonts/rockfordsans-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Rockford Sans - Italic */
@font-face {
    font-family: 'Rockford Sans';
    src: url('../assets/fonts/rockfordsans-regularitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/rockfordsans-regularitalic-webfont.woff') format('woff'),
         url('../assets/fonts/rockfordsans-regularitalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

/* Rockford Sans - Bold Italic */
@font-face {
    font-family: 'Rockford Sans';
    src: url('../assets/fonts/rockfordsans-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/rockfordsans-bolditalic-webfont.woff') format('woff'),
         url('../assets/fonts/rockfordsans-bolditalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

b {
    font-weight: bold;
    /* font-family: 'CustomFont', sans-serif; */
}

i {
    font-style: italic;
    /* font-family: 'CustomFont', sans-serif; */
}