@import 'vars.css';

body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Rockford Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    color: var(--color-text-body);
    background-color: var(--color-bg-solid);
    background-image: linear-gradient(
        var(--color-bg-gradient-1), var(--color-bg-gradient-2));
}

h1 {
    font-family: 'Isidora Soft', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-block-start: 0.32em;
    margin-block-end: 0.4em;
}

.module {
    display: block;
    width: min(600px, calc(100% - 96px));
}

.module.background {
    padding: 5px;
    margin: 32px;
    outline-color: var(--color-window-border);
    background-color: var(--color-window-background);
    outline-width: 1.5px;
    outline-style: solid;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 4px;
    filter: drop-shadow(6px 5px 0.369px var(--color-shadow));
}

.module.titleBar {
    width: 100%;
    display: inline-block;
    background-color: rgb(251, 226, 183);
}

.module.titleBar .contents {
    display: inline-block;
    vertical-align: middle;
}

.module.titleBar .contents.icon {
    padding-left: 8px;
    padding-right: 6px;
    padding-bottom: 2px;
    fill: rgb(203, 161, 220);
    stroke: rgb(203, 40, 88);
    color:  rgb(203, 40, 88);
}

.module.submodule {

}

.projectionsContainer {
    display: block;
    outline-color: var(--color-window-border);
    background-color: var(--color-window-background-alpha);
    outline-width: 1.5px;
    outline-style: solid;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 4px;
    filter: drop-shadow(6px 5px 0.369px var(--color-shadow));
}

.projectionsContainer .map {
    margin-right: 0px;
    fill: var(--color-map-default-fill);
    stroke: var(--color-map-default-stroke);
}

.projectionsContainer .map .land {
    fill: var(--color-map-land-fill);
    stroke: var(--color-map-land-stroke);
}

.projectionsContainer .map .water {
    fill: var(--color-map-water-fill);
    stroke: var(--color-map-water-stroke);
}