body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
}

.container {
    outline-color: black;
    outline-style: solid;
    overflow: hidden;
    white-space: nowrap;
}

#container .map {
    margin-right: 0px;
 }

#container .map path {
    stroke: #aaa;
}

#container .map .land {
    fill: #9ea;
    stroke: rgb(93, 181, 146);
}

#container .map .water {
    fill: rgb(175, 234, 255);
    stroke: rgb(20, 161, 174);
}